* {
    font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
}

#mypanel {
    margin: 1em 1em 1em 1em;
    margin-right: 10%;
    margin-left: 10%;
}
